<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>express 教程</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/public/bootstrap.css">
    <link rel="stylesheet" href="/static/css/public/com.css">
    <link rel="stylesheet" href="/static/css/blog.css">
</head>
<body>
<div style="display: none">
    <img src="/static/images/wechat.jpeg">
</div>

<!--navbar-->
<nav class="navbar navbar-default com-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">陈彦成</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#about">作者</a></li>
                <li><a href="#doc">文章</a></li>
                <li><a href="#ohter">杂谈</a> </li>
            </ul>
        </div>
    </div>
</nav>

<!--header-->

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 blog-autor">

                <a><img src="/static/images/cat.jpg" width="40" height="40" class="img-circle"></a>
                <a class="text-info author-name">二胖手</a>

            </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    --安静的美男子
                </div>

        </div>
    </div>

</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="tempclass">

            </div>
        </div>
    </div>
</div>







<footer class="com-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="copyright text-center text-muted">Copyright © Cheng Blog 2015 </p>
            </div>
        </div>
    </div>

</footer>


<script src="/static/js/lib/jquery.js"></script>
<script src="/static/js/lib/bootstrap.js"></script>
</body>
</html>