<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>resume-陈彦成</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="陈彦成 个人博客 个人网站 blog 陈颜成 二胖手 express nodejs" />
    <meta name="description" content="陈彦成的个人简历" />
    <link rel="stylesheet" href="/static/css/resume.css">
</head>
<body>

<div class="main-wrap">
    <div class="main">
        <div class="section a">
            <h1>这是屌屌的第一屏页面222</h1>
        </div>
        <div class="section b">
            <h1>这是霸气的第二屏页面</h1>
        </div>
        <div class="section c">
            <h1>这是呵呵的第三个屏页面</h1>
        </div>
    </div>
</div>
        
   <script src="/static/js/lib/zepto.min.js"></script>
   <script src="/static/js/lib/hammer.min.js"></script>
   <script src="/static/js/resume.js"></script>
</body>
</html>